:root {
    --color-texto-primario: #fff;
    --color-texto-resaltado: #27DEBF;

    --color-fondo-body: #313131;
    --color-fondo-navegacion: #272727;
    --color-fondo-conocimiento-tec: #d9d9d927;

    --fuente-texto-titulo: "Montserrat", sans-serif;
    --fuente-texto-texto: "Raleway", sans-serif;

}

/* Elementos generales */
body {
    background-color: var(--color-fondo-body);
    box-sizing: border-box;
}

a {
    color: var(--color-texto-primario);
}

/* Tipografias */
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */
.raleway-uniquifier {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


/* Barra de Navegacion */
.header {
    display: flex;
    align-items: center;
    background-color: var(--color-fondo-navegacion);
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    position: fixed;
    /* top: 0; */

}

.menu_list {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    gap: 75px;
}

.menu_list_item{
    /* border: 2px solid yellow; */
    font-weight: 600;
    color: var(--color-texto-primario);
    font-family: var(--fuente-texto-texto);
}

.menu_list_item:hover{
    color: var(--color-texto-resaltado);
}


/* Links de contacto */
.contenedor-presentacion {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: auto;
    height: 700px;
}

.presentacion {
    /* border: 2px solid yellow; */
    display: flex;
    box-sizing: border-box;
    width: 150px;
    justify-content: center;
}

.links-sociales {
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.links-sociales-icono {
    font-size: 50px;
}

.links-sociales-icono:hover {
    color: var(--color-texto-resaltado);
}

/* Sección de presentacióon */
.informacion {
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellowgreen; */
    width: 700px;
    gap: 80px;
}

.nombre {
    font-family: var(--fuente-texto-titulo);
    font-size: 32px;
    font-weight: bold;
    color: var(--color-texto-resaltado);
}

.profesion {
    font-family: var(--fuente-texto-titulo);
    font-size: 58px;
    font-weight: bold;
    color: var(--color-texto-primario);
}

.extra {
    font-family: var(--fuente-texto-texto);
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-texto-primario);
}

.sub-profesion {
    font-family: var(--fuente-texto-titulo);
    font-size: 36px;
    font-weight: bold;
    margin-left: 20px;
    color: var(--color-texto-primario);
}

.resumen {
    /* border: 2px solid red; */
    font-family: var(--fuente-texto-texto);
    margin-left: 20px;
    width: 500px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: var(--color-texto-primario);
}

.info-resumen {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 30px;
    gap: 15px;
}

.boton {
    display: flex;
    justify-content: center;
}

.descargar {
    font-family: var(--fuente-texto-titulo);
    font-size: 20px;
    font-weight: 600;
    color: var(--color-texto-primario);
    background-color: var(--color-texto-resaltado);
    width: 200px;
    height: 70px;
    border-radius: 30px;
    border-style: none;
    box-shadow: 8px 8px 15px var(--color-fondo-navegacion);
}

.descargar:hover {
    color: var(--color-fondo-navegacion);
}

/* Sección de ilustración */

.imagen {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    width: 450px;
}

.imagen-muestra {
    /* border: 2px solid green; */
    width: fit-content auto;
    height: fit-content auto;
}

/* Sección sobre mi */

.about {
    /* border: 2px solid lightseagreen; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 700px;
    box-sizing: border-box;
    gap: 30px;
    /* margin-top: 40px; */
}

/* Resumen de experiencia */
.about-experiencia {
    /* border: 2px solid blueviolet; */
    display: flex;
    flex-direction: column;
    width: 590px;
    height: fit-content;
    gap: 15px;
}

.experiencia-titulo {
    display: flex;
    font-family: var(--fuente-texto-titulo);
    font-size: 26px;
    font-weight: 600;
    color: var(--color-texto-resaltado);
}

.experiencia-resumen {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 20px;
}

.resumen-texto {
    display: flex;
    flex-direction: column;
    color: var(--color-texto-primario);
    font-family: var(--fuente-texto-texto);
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
}

/* Habilidades */
.personal-skills {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    color: var(--color-texto-primario);
    font-family: var(--fuente-texto-texto);
    font-size: 20px;
    gap: 20px;
    width: 590px;
}

.educacion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.educacion-titulo {
    font-family: var(--fuente-texto-titulo);
    color: var(--color-texto-resaltado);
    font-size: 24px;
    font-weight: 600;
}

.institucion {
    font-weight: 800;
}

/* idiomas */
.lenguaje {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.lenguaje-titulo {
    font-family: var(--fuente-texto-titulo);
    font-size: 24px;
    font-weight: 600;
}

.lenguaje-info {
    font-family: var(--fuente-texto-texto);
}

/* Hobbies */
.hobbies {
    display: flex;
    flex-direction: column;
    color: var(--color-texto-primario);
    gap: 30px;
}

.aficiones {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aficion-titulo {
    font-family: var(--fuente-texto-titulo);
    font-size: 24px;
    color: var(--color-texto-primario);
    font-weight: 600;
}

.aficion-info {
    font-family: var(--fuente-texto-texto);
    font-size: 20px;
    font-weight: 300;
    margin-left: 15px;
}

.habilidades {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.habilidad-titulo {
    font-family: var(--fuente-texto-titulo);
    font-size: 24px;
    color: var(--color-texto-resaltado);
    font-weight: 600;
}

.habilidad-info {
    font-family: var(--fuente-texto-texto);
    font-size: 20px;
    font-weight: 300;
    margin-left: 15px;
}

/* Resumen de conocimiento tecnico */
.about-conocimiento {
    /* border: 2px solid burlywood; */
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-fondo-conocimiento-tec);
    border-radius: 25px;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.conocimiento-titulo {
    display: flex;
    text-align: center;
    font-family: var(--fuente-texto-titulo);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-texto-resaltado);

}

.conocimiento-tecnico-seccion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
    font-family: var(--fuente-texto-texto);
    font-weight: 500;
    font-size: 22px;
}

.seccion-diseño {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.tecnico-titulo {
    font-family: var(--fuente-texto-texto);
    font-size: 22px;
    text-align: center;
    color: var(--color-texto-primario);
}

.seccion-iconos {
    display: flex;
    gap: 20px;
}

.logo-diseño,
.logo-programacion,
.logo-modelado,
.logo-bocetaje {
    font-size: 50px;
    width: 50px;
}

/* seccion de proyectos */
.proyectos {
    /* border: 2px solid orange; */
    display: flex;
    width: auto;
    height: 700px;
    align-items: center;
    justify-content: space-evenly;
}

.preview-img {
    width: 700px;
}

.proyecto-info {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d92f;
    width: 350px;
    border-radius: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.proyecto-titulo {
    font-family: var(--fuente-texto-titulo);
    font-size: 28px;
    font-weight: bold;
    color: var(--color-texto-resaltado);
}

.proyecto-resumen {
    font-family: var(--fuente-texto-texto);
    font-size: 22px;
    color: var(--color-texto-primario);
    text-align: left;
}

.proyecto-botones {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.repositorio {
    width: 180px;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 20px;
    border-style: none;
    box-shadow: 8px 8px 15px var(--color-fondo-navegacion);
    font-family: var(--fuente-texto-titulo);
    font-size: 20px;
    font-weight: 600;
    color: var(--color-fondo-body);
    cursor: pointer;
    text-align: center;
    align-content: center;

}

.demo {
    width: 180px;
    height: 60px;
    background-color: #27dec0a9;
    border-radius: 20px;
    border-style: none;
    box-shadow: 8px 8px 15px var(--color-fondo-navegacion);
    font-family: var(--fuente-texto-titulo);
    font-size: 20px;
    font-weight: 600;
    color: var(--color-texto-primario);
    cursor: pointer;
    text-align: center;
    align-content: center;
}

/* Seccion de contacto */
.contacto {
    /* border: 2px solid aqua; */
    height: 700px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-informacion {
    /* border: 2px solid sandybrown; */
    width: 1100px;
    height: 540px;
    box-sizing: border-box;
}

.indicaciones {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacto-titulo {
    font-family: var(--fuente-texto-titulo);
    font-size: 40px;
    font-weight: bold;
    color: var(--color-texto-primario);
}

.contacto-indicación {
    font-family: var(--fuente-texto-texto);
    font-size: 24px;
    font-weight: 400;
    color: var(--color-texto-resaltado);

}

/* Seccion de formulario */

.acomodo-formulario {
    display: flex;
    justify-content: space-evenly;
}

.formulario {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}

.form-contacto-input {
    width: 700px;
    height: 35px;
    outline: none;
    font-family: var(--fuente-texto-texto);
    background-color: #d9d9d9;
    padding: 5px;
    font-size: 16px;
    color: var(--color-fondo-navegacion);
}

.form-contacto-input-textarea {
    width: 600px;
    height: 160px;
    outline: none;
    font-family: var(--fuente-texto-texto);
    resize: none;
    border-radius: 4px;
    background-color: #d9d9d9;
    padding: 5px;
    font-size: 14px;
    color: var(--color-fondo-navegacion);
}

.form-contacto-boton {
    width: 180px;
    height: 70px;
    background-color: #27dec0a9;
    font-family: var(--fuente-texto-titulo);
    font-size: 24px;
    font-weight: 600;
    border-radius: 20px;
    border-style: none;
    box-shadow: 8px 8px 15px var(--color-fondo-navegacion);
    color: var(--color-texto-primario);
    cursor: pointer;
}

.seccion-boton {
    display: flex;
    flex-direction: column-reverse;
}

.modal {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    border: 2px solid #d9d9d9;
    background-color: #313131d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modal-mensaje {
    font-family: var(--fuente-texto-titulo);
    color: var(--color-texto-primario);
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

.modal-cerrar{
    font-family: var(--fuente-texto-texto);
    font-size: 16px;
    font-weight: 400;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    color: var(--color-texto-primario);
    background-color: #27dec0a9;
}